@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

body{
	background-color: rgba(168, 110, 182, 0.321);
	font-family: 'Neucha', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
}

.page__container{
	position: relative;
}

/* FIRST-BLOCK */

.page__first-block{
	border: 5px solid black;
	box-shadow: 0px 0px 35px 20px rgba(0,0,0,0.42);
	width: 500px;
	height: 400px;
	margin-top: 50px;
	background: url(../img/background-01.jpg) 0 0 / cover no-repeat;
	margin-left: 50px;
	transition: all 0.5s 0s ease;
}

.page__first-block:hover{
	transform: scale(1.1);
}

.scenario-first-block {
	position: relative;
}

.scenario-first-block__img-characters{
	position: absolute;
	top: 110px;
	left: 10px;
}

.scenario-first-block__img-characters img{
	width: 500px;
}

.scenario-first-block__img-dialog .male{
	position: absolute;
	width: 200px;
	left: 290px;
	top: 10px;
	transition: all 0.5s 0s ease;
}

.scenario-first-block__img-dialog .female{
	position: absolute;
	width: 220px;
	transition: all 0.5s 0s ease;
}

.scenario-first-block__text .dialog-male{
	position: absolute;
	top: 60px;
	right: 5px;
	width: 180px;
	text-align: center;
}

.scenario-first-block__img-dialog img:hover{
	transform: scale(1.1);
}

.scenario-first-block__text .dialog-female{
	position: absolute;
	top: 37px;
	left: 18px;
	width: 180px;
	text-align: center;
}

/* SECOND-BLOCK */

.page__second-block{
	border: 5px solid black;
	box-shadow: 0px 0px 35px 20px rgba(0,0,0,0.42);
	width: 500px;
	height: 400px;
	background: url(../img/background-02.jpg) 0 0 / cover no-repeat;
	/* transform: translate(600px, -400px); */
	margin-right: 50px;
	position: relative;
	top: -400px;
	left: 600px;
	transition: all 0.5s 0s ease;
}

.page__second-block:hover{
	transform: scale(1.1);
}

.scenario-second-block {
	position: relative;
}

.scenario-second-block__img-characters{
	position: absolute;
	top: 104px;
	left: 10px;
}

.scenario-second-block__img-characters img{
	width: 500px;
}

.scenario-second-block__img-dialog img:hover{
	transform: scale(1.1);
}

.scenario-second-block__img-dialog .male{
	position: absolute;
	width: 200px;
	left: 290px;
	transition: all 0.5s 0s ease;
}

.scenario-second-block__img-dialog .female{
	position: absolute;
	width: 220px;
	transition: all 0.5s 0s ease;
}

.scenario-second-block__text .dialog-male{
	position: absolute;
	top: 60px;
	right: 5px;
	width: 180px;
	text-align: center;
	font-size: 36px;
	transition: all 0.5s 0s ease;
}

.scenario-second-block__text:hover .dialog-male{
	transform: rotate(360deg);
}

.scenario-second-block__text .dialog-female{
	position: absolute;
	top: 50px;
	left: 18px;
	width: 180px;
	text-align: center;
	font-size: 20px;
}

/* THIRD-BLOCK */

.page__third-block{
	border: 5px solid black;
	box-shadow: 0px 0px 35px 20px rgba(0,0,0,0.42);
	width: 1052px;
	height: 400px;
	background: url(../img/background-03.png) 0 0 / cover no-repeat;
	margin-left: 50px;
	position: relative;
	top: -350px;
	transition: all 0.5s 0s ease;
	/* transform: translate(0, -350px); */
}

.page__third-block:hover{
	transform: scale(1.05);
}

.scenario-third-block {
	position: relative;
}

.scenario-third-block__img-characters .female{
	position: absolute;
	width: 550px;
	top: 117px;
	left: 50px;
}

.scenario-third-block__img-characters .male{
	position: absolute;
	width: 250px;
	top: 96px;
	right: 200px;
}

.scenario-third-block__img-dialog .male{
	position: absolute;
	width: 250px;
	right: 70px;
	transition: all 0.5s 0s ease;
}

.scenario-third-block__img-dialog .female{
	position: absolute;
	width: 220px;
	left: 28px;
	top: 15px;
	transition: all 0.5s 0s ease;
}

.scenario-third-block__img-dialog .female:hover{
	transform: scale(1.1);
}

.scenario-third-block__text .dialog-male{
	position: absolute;
	top: 42px;
	right: 100px;
	width: 180px;
	text-align: center;
	font-size: 20px;
}

.scenario-third-block__img-dialog .male:hover{
	transform: scale(1.1);
}

.scenario-third-block__text .dialog-female{
	position: absolute;
	top: 70px;
	left: 45px;
	width: 180px;
	text-align: center;
	font-size: 24px;
}

/* FOURTH-BLOCK */

.page__fourth-block{
	border: 5px solid black;
	box-shadow: 0px 0px 35px 20px rgba(0,0,0,0.42);
	width: 500px;
	height: 400px;
	background: url(../img/background-04.png) 0 0 / cover no-repeat;
	position: relative;
	top: -305px;
	left: 210px;
	transition: all 0.5s 0s ease;
	/* transform: translate(210px, -305px); */

}

.page__fourth-block:hover{
	transform: scale(1.1);
}

.scenario-fourth-block {
	position: relative;
}

.scenario-fourth-block__img-characters .dwarf{
	position: absolute;
	width: 270px;
	top: 117px;
	left: 100px;
}

.scenario-fourth-block__img-dialog img{
	position: absolute;
	left: -25px;
	top: -50px;
	transition: all 0.5s 0s ease;
}

.scenario-fourth-block__img-dialog img:hover{
	transform: scale(1.1);
}

.scenario-fourth-block__img-dialog img{
	width: 300px;
}

.scenario-fourth-block__text{
	position: absolute;
	top: 85px;
	left: 20px;
	width: 180px;
	text-align: center;
	font-size: 28px;
	transition: all 0.5s 0s ease;
}

.scenario-fourth-block__text:hover{
	transform: rotate(360deg);
}

/* FIFTH-BLOCK */

.page__fifth-block{
	border: 5px solid black;
	box-shadow: 0px 0px 35px 20px rgba(0,0,0,0.42);
	width: 500px;
	height: 400px;
	background: url(../img/background-04.png) 0 0 / cover no-repeat;
	/* transform: translate(765px, -704px); */
	position: relative;
	top: -704px;
	left: 765px;
	transition: all 0.5s 0s ease;
}

.page__fifth-block:hover{
	transform: scale(1.1);
}

.scenario-fifth-block {
	position: relative;
}

.scenario-fifth-block__img-characters .dwarf{
	position: absolute;
	width: 270px;
	top: 117px;
	left: 100px;
	transition: all 0.5s 0s ease;
}

.scenario-fifth-block__img-characters .dwarf:hover{
	transform: scale(1.1);
}