/* Головна кнопка */

.button{
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.25;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    padding: 16px 40px;
    display: inline-block;
    letter-spacing: 0.5px;
    position: relative;
}

.button span{
    position: relative;
    z-index: 2;
}

.button::before{
    content: '';
    background: linear-gradient(55.95deg, #b32c27 0%, #b04303 100%);
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease 0s;
}

.button:hover::before{
    opacity: 1;
}

/* Прозора кнопка */

.button--transparent{
    background: transparent;
    border-radius: 4px;
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
    padding: 16px 40px;
    position: relative;
}

.button--transparent::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(55.95deg, #ff403ab1 0%, #f75e05c9 100%);
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
}

.button--transparent span{
    position: relative;
    z-index: 2;
}

.button--transparent:hover::before{
	opacity: 1;
}

.button--transparent:hover span{
    color: #FFFFFF;
}

/* Заголовок */

.page-title {
}
.title-block {
}
.title-block__sub-title {
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    font-weight: 700;
    line-height: 150%;
}
.title-block__header {
    color: #1E212C;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}