.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 50;
}
.header__container {
    display: flex;
    gap: 60px;
    align-items: center;
}

@media (max-width: 497.98px){
    .header__container{
        gap: 20px;
    }
}

@media (max-width: 410.98px){
    .header__container{
        flex-direction: column;
    }
}

.header__logo {
}
.header__menu {
    flex-grow: 1;
}
.header__actions {
}

/* Menu */

.menu {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 15px;
}

@media (max-width: 650.98px){
    .menu__list{
        display: none;
    }
}

.menu__item {
}
.menu__link {
    font-weight: 700;
    line-height: 1.6;
}
.menu__link:hover{
    color: #FF3F3A;
    transition: color 0.5s ease 0s;
}

/* Actions */

.actions-header {
    display: flex;
    column-gap: 36px;
    row-gap: 20px;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.actions-header__button {
    text-align: center;
}


.actions-header__auth {
    background: url('../img/icons/user.svg') left center / 16px 16px no-repeat;
    padding-left: 24px;
    font-weight: 700;
}

@media (max-width: 1090.98px){
    .actions-header{
        justify-content:center;
        flex-direction: column-reverse;
    }
      
}

.actions-header__auth:hover span{
    color: #F75E05;
    transition: color 0.6s ease 0s;
}